.Button {
    width: 90%;
    padding: 10px;
    margin-left: 5%;
    margin-top: 10px;

    background-color: #007BFF;
    color: #fff;
    
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.Button:hover {
    background-color: #0056b3;
}